.linkNavBar {
    color: red;
}

@media screen and (max-width: 620px) { /* smartphone */
    * {
        font-size: 15px;
    }
    .linkContainer {
        flex-direction: column;
        height: 100px;
    }
    .headerSuubtitle {
        visibility: hidden;
    }
    .projectComponent {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 5rem auto;
        width: 400px;
        height: 450px;
    }
    .projectComponent h1 {
        height: 95px;
        padding: 20px;
    }
    .projectComponent a {
        padding: 15px auto;
    }
}

@media screen and (max-width: 400px) {
    .projectComponent {
        margin: 3rem auto;
        width: 260px;
    }
}

.containerComponent {
    min-height: 100vh;
    overflow: hidden;
}

